.cls1 {
  fill: url(#linear-gradient);
}

.cls2 {
  fill: url(#linear-gradient-2);
}

.cls3 {
  fill: #262626;
}

.cls4 {
  fill: url(#linear-gradient-3);
}

.cls5 {
  fill: url(#linear-gradient-4);
}