//flexbox
@import '../../flex.scss';

.navigationContainer{
  @extend .flex;
  z-index: 2;
  width: 100%;
}

.navigationRow{
  @extend .row;
  width: 100%;
  background-color: teal;
  list-style-type: none;
  padding: .7rem;
}

.navigationItem{
  padding: .5rem;
  :link{
    text-decoration: none;
    font-weight: 600
  }
} 

.navigationContainerSubnav{
  @extend .navigationContainer;
}

.navigationRowSubnav{
  @extend .navigationRow;
  background-color: rebeccapurple;
  color: white;
  & :link{
    color: right;
  }

}

.navigationItemSubnav{
  @extend .navigationItem;
  
  font-size: 2rem;
} 