.scHero{
  border: 2px solid #333;
  width: 35rem;
  height: 35rem;

}

.scHeroContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scImageRow{
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scThumbnail{
  border: 2px solid #333;
  height: 9rem;
  width: 9rem;
 
}